body{
    background-color:rgb(0, 247, 255);
    color:rgb(93, 9, 202) ;
 }
 .heading{
     width: 80%;
     font-size: 22px;
 }
 #camera,#result{
     border: 2px dashed black;
     height: 350px;
     width: 350px;
 }
 .name_of_objects,#result_object_name,#result_object_accuracy{
     color: rgba(238, 70, 70, 0.932);
 }